* {
    text-align: center;
    margin: auto;
}

body {
    background-color: #f5d742;
}

header {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    color: #f5d742;
    border: solid rgba(171, 165, 137, 0.7) 2px;
}

h1 {
    font-size: 52px;
    font-family: 'Sansita Swashed', cursive;
    padding: 15px;
}

div {
    margin-top: 2%;
    margin-bottom: 10%;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    color: #f5d742;
    border: solid rgba(171, 165, 137, 0.7) 2px;
}

section {
    padding: 15px;
}

h2 {
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive; 
}

button {
    margin: 20px auto 5px;
    background-color: #f5d742;
    border: solid rgba(171, 165, 137, 0.7) 2px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}